main {
  margin: auto;
}

section {
  display: flex;
  margin: auto;
  width: 480px;
  height: 767px;
}

div {
  border: 1px solid;
}

/* On Desktop */
@media( min-width: 960px ) {

  section {
    width: 960px;
    height: 700px;
  }
}