.header {
  width: 100%;
  height: 09.7%;
}

.navBar {
  width: 100%;
  height: 19.55%;
}

.article {
  width: 100%;
  height: 16.2%;
}

.miniArticle {
  width: 50%;
  height: 250px;
}

.footer {
  width: 100%;
  height: 10.4%;
}

/* On Desktop */
@media( min-width: 960px ) {

  .header {
    grid-column: auto / span 5;
    grid-row: 1;
    width: 100%;
    height: 100%;
  }
  
  .navBar {
    grid-column: 1;
    grid-row: 2 / span 3;
    width: 100%;
    height: 100%;
    
  }
  
  .article {
    grid-column: auto / span 2;
    grid-row: auto / span 1;
    height: 100%;
    width: 100%;
  }
  
  .miniArticle {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    height: 100%;
    width: 100%;
  }
  
  .footer {
    grid-column: auto / span 4;
    grid-row: auto / span 1;
    height: 100%;
    width: 100%;
  }
  
}
/* 

.header {
  width: 100%;
  height: 14.2%;
}

.navBar {
  width: 28.5%;
  height: 85.7%;
}

.article {
  width: 39.5%;
  height: 28.5%;
}

.miniArticle {
  width: 19.7%;
  height: 35.7%;
}

.footer {
  width: 79%;
  height: 21.4%;
} */